@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --baseColor: rgb(158, 10, 203);
  --baseColorSecendary: rgb(126, 6, 162);
}

.bg-custom-primary {
  @apply bg-zinc-100 dark:bg-zinc-950;
}
.bg-custom-secendary {
  @apply bg-zinc-300 dark:bg-zinc-800;
}

.bg-custom-3 {
  @apply bg-zinc-200 dark:bg-zinc-800;
}

.border-custom-primary {
  @apply border-zinc-200 dark:border-zinc-800;
}

.border-custom-secendary {
  @apply border-zinc-100 dark:border-zinc-900;
}

.text-custom-primary {
  @apply text-black dark:text-white;
}

.text-custom-secendary {
  @apply text-zinc-700 dark:text-zinc-300;
}

.loading-text-custom {
  @apply text-zinc-300 dark:text-zinc-800;
}

.custom-blur {
  backdrop-filter: blur(2px);
}

.bg-baseColor {
  @apply bg-teal-600;
  background-color: var(--baseColor);
}

.text-baseColor {
  @apply text-teal-600;
  color: var(--baseColor);
}

.text-baseColor-secendary {
  @apply text-teal-700;
  color: var(--baseColorSecendary);
}

.bg-baseColor-secendary {
  @apply bg-teal-700;
  background-color: var(--baseColorSecendary);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}

/* width */
/* ::-webkit-scrollbar {
  width: 5px;
} */

/* ::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-400 dark:bg-zinc-600;
}


::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-500 dark:bg-zinc-500;
  @apply bg-teal-500;
} */

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
  transition:
    background-color 0.3s,
    opacity 0.3s;
  opacity: 0;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  @apply bg-zinc-500;
  opacity: 1;
}

.custom-scrollbar:hover {
  overflow-y: auto;
}

.custom-number-input::-webkit-outer-spin-button,
.custom-number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-number-input {
  -moz-appearance: textfield;
}
